@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Teste MyLegal </h2>
    <h2 class="display-4">CRUD Advogado</h2>
    <h5 class="mb-5">Feito por <a href="https://simaorossy.github.io/cv/" target="_blank">Simão Rossy</a>.</h5>

</div>